.slider{
}
.slider .slides{
}

.card .card-content{
    padding: 14px 24px;
}

.icon-block{
    padding: 10px 15px;
}

.card .card-action{
    padding: 12px 0 12px 18px;
}
.material-icons{
    font-size: inherit;
}